name: Build and Push Builder Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and Push Builder Image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.22.9, 1.23.3]
        ubuntu-version: [16.04]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: build/Dockerfile
          build-args: |
            GO_VERSION=${{ matrix.go-version }}
            UBUNTU_VERSION=${{ matrix.ubuntu-version }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest-go${{ matrix.go-version }}-ubuntu${{ matrix.ubuntu-version }}
